
footer {
    position:relative;
    height:auto;
    text-align:center;
    z-index:99;  
    border-top:5px solid #f0f0f0;

    .footer-inner {
        position:relative;
        padding:20px 0;
        background:#fff;

        p {
            font-size:12px; 
            color:#ccc; 
        }
    }    
}