@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

header {
    position:relative;
    height:auto;
    text-align:center;
    z-index:99;
    background:#fff;
    border-bottom:5px solid #f0f0f0;

    .header-inner {
        position:relative;
        padding:20px;
        text-align: center;

        .btn-prev {
            position: absolute;
            left: 20px;
            top:50%;
            transform:translateY(-50%);
            font-size:22px;
        }        

        .logo {
            font-family: 'Rowdies', cursive;
            font-size: 22px;
            background: linear-gradient(to right, pink, hotpink);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        } 

        .user {
            position: absolute;
            right:20px;
            top:50%;
            transform: translateY(-50%);
            z-index: 1;

            span {
                display: inline-block;
                padding-left: 10px;
            }
        }
    }    
}