@import "../mixin";

header {
    position:relative;
    height:auto;
    text-align:center;
    z-index:99;
    padding:20px 0;
    background:#fff;
    width:$inner-max-width;
    margin:0 auto;

    @include mobile {
        width:100%;
    }

    .header__inner {
        position:relative;
    }    
}